In [3]:
import numpy as np
import h5py
import pandas as pd

In [72]:
#Reading matlab files and converting into numpy array
data = {}
targets = {}
files = open('files', 'r')
lines = files.readlines()
count = {}
for line in lines:
    fileName, target = line.strip().split(";")
    with h5py.File(fileName, 'r') as f:
        for k, v in f.items():
            tmp=np.array(v).transpose()
            if not target in data.keys():
                data[target]=tmp
                count[target] = tmp.shape[0]
            else:
                data[target] = np.concatenate((data[target], tmp))
                count[target]+= tmp.shape[0]
totalCount = 0
i=0
targetsColumn = None
for k, v in count.items():
    targets[k]=np.ones(v, dtype=int)*int(i)
    totalCount += v
    if i==0:
        targetsColumn = targets[k]
    else:
        targetsColumn = np.concatenate((targetsColumn, targets[k]))
    i += 1
targetsColumn=targetsColumn.reshape(targetsColumn.shape[0], 1)
dataSet = None
for k, v in data.items():
    if dataSet is None:
        dataSet = data[k]
    else:
        dataSet = np.concatenate((dataSet, data[k]))
dataSet = np.concatenate((dataSet, targetsColumn), axis=1)

[[10856  9761  8767 ... 11280  7453     0]
 [10883  9767  8845 ... 10465  7143     0]
 [10893  9787  8797 ... 10563  7026     0]
 ...
 [10026  9285  9514 ... 14579  8932     2]
 [10004  9281  9451 ... 16861  9970     2]
 [ 9875  8973  8637 ... 12962  8935     2]]
[[10856  9761  8767 ... 17400 11280  7453]
 [10883  9767  8845 ... 17759 10465  7143]
 [10893  9787  8797 ... 17908 10563  7026]
 ...
 [13641 12630 11277 ... 18879 11882  8490]
 [12006 10930  9883 ... 22377 12739  7981]
 [13098 11976 10765 ... 17510 11067  8063]]
[[10793 10004  9701 ... 16629 12424  9200]
 [10335  9521  8967 ... 18219 12143  8506]
 [10217  9280  8983 ... 20643 13086  8604]
 ...
 [10026  9285  9514 ... 21104 14579  8932]
 [10004  9281  9451 ... 23822 16861  9970]
 [ 9875  8973  8637 ... 15796 12962  8935]]

In [5]:
df = pd.DataFrame(data=data['spectral_info'], columns=["Costal", "Blue", "Green", "Red", "NIR", "SWIR1", "SWIR2"])
df

      Costal   Blue  Green   Red    NIR  SWIR1  SWIR2
0      10856   9761   8767  7646  17400  11280   7453
1      10883   9767   8845  7616  17759  10465   7143
2      10893   9787   8797  7574  17908  10563   7026
3      10844   9813   8808  7617  17533  10779   7173
4      10945   9848   9001  7699  21179  12428   7952
...      ...    ...    ...   ...    ...    ...    ...
5973   11247  10186   9475  8005  21575  13261   8328
5974   11985  10972  10288  9522  19393  16306  10848
5975   12000  10899   9894  9119  15584  15964  10501
5976   11356  10221   9143  7915  17171  11116   7618
5977   11800  10641   9676  8449  19728  12714   8423

[5978 rows x 7 columns]

In [8]:
from sklearn.preprocessing import StandardScaler
features = ["Costal", "Blue", "Green", "Red", "NIR", "SWIR1", "SWIR2"]
x=df.loc[:, features].values
x = StandardScaler().fit_transform(x)

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['PC1', 'PC2'])
principalDf

           PC1       PC2
0    -1.713731  0.600555
1    -1.845022  0.782201
2    -1.870123  0.737764
3    -1.818729  0.747678
4    -1.003352 -0.505289
...        ...       ...
5973 -0.169619 -0.539962
5974  2.303274 -0.334800
5975  1.601392  0.507717
5976 -1.024198  1.056428
5977  0.361293  0.404235

[5978 rows x 2 columns]

In [ ]:
fig = plt.figure(figsize = (8,8))
ax = fig.add_subplot(1,1,1) 
ax.set_xlabel('Principal Component 1', fontsize = 15)
ax.set_ylabel('Principal Component 2', fontsize = 15)
ax.set_title('2 component PCA', fontsize = 20)